#pool{
    color : red;
}

table{
    
width: 600px; height: 400px;

border-collapse: collapse;
}

.ttt{
    background-color: violet;
}
th{
    background-color: #fff44f;
    

    
}
td{
    font-size: 25px;
    text-align: center;
    color: black;
    background-color: rgb(232, 252, 209);
}
#cat-brother
{
    width: 200px;
    height:200px;
    float: left;
    margin-left: 100px;
}

